#mainGrid {
    display: grid;
    grid: auto-flow min-content/1fr;
    // Set up the basic grid areas. This is the layout for Small Screens.
    grid-template-areas: "nav     " 
                         "header  "
                         "portrait"   
                         "main    "
                         "footer  ";
}

// Projects Grid Setup
#projects {
    display: grid;
    grid: auto-flow min-content/1fr;
    justify-content: center;
    // grid-template-columns: 1fr 1fr;
}


// Grid for medium-size screens.
@media only screen and (min-width: 768px) {
    // Set up basic grid area for medium size screens.
    #mainGrid {
        grid-template-areas:"header portrait" 
                            "nav    nav     "
                            "main   main    "   
                            "footer footer  ";
    }

    // Projects Grid Setup for medium screens
    #projects {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid: auto-flow max-content / repeat(12, 1fr);
    gap: 1em;
}

} /* end of media query */

//Grid for large-size screens.
// @media only screen and (min-width: 1200px) {
                   

// } /* end of media query */


/* Defines what is assigned to each grid area. */
header {grid-area: header;}
aside {grid-area: aside;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}

#portrait {
    grid-area: portrait;
}