
// Margin around the main grid
*, html, body {
    justify-content: center;
}

#mainGrid {
    margin: 2em 8em;
    max-width: 1200px;
    justify-self: center;
}

// Nav Styles
nav {
    /* don't display the hamburger button if not phone-size. */
    button {
        display: none;
    }
    /* Make sure navigation displays */
    ul {
        display: block;
    }
    li {
        /* Arrange items left to right. */
        float: left;
        /* 5 items, so 20% uses all the space. */
        width: 20%;
    }
}

#portrait > img {
    width: 200px;
    // width: 50%;
    margin-right: 2em;
}

header 
{
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
}