//// 
// General-Use Code /////////////////////
//// 

// Possibly helps make CSS Grid things work?
* {
    box-sizing: border-box;
}

// Magical code that removed the white bar from showing up on the right side of the screen on smaller screen sizes. Seems to be the "overflow-x: hidden;" that did it.
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: $backgroundColor;
}

ul {
    padding: 0;
    margin: 0;
}

// body {
//     background-color: rgb(151, 209, 199);
// }

/* prevents the text size in web kit and microsoft browsers from changing when phone orientation is changed. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Makes sure all browsers implement the box-model in the same way. Makes sure padding is added to the inside of an element and margin to the outside. */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Set basic font-family/weight for the whole body */
body {
    font-family: 'Chango', cursive;
    // font-family: 'Times New Roman', Times, sans-serif;
    /* Normal default font size. */
    font-size: 16px;
    font-weight: 300;
}

// end of General-Use Code ///////////////

footer {
    background: $primaryWarmColor;
    display: flex;
    justify-content: space-evenly;
    p {
        color: white;
        text-align: center;
        font-size: 1.2em;
    }
}

nav {
    background: $primaryWarmColor;
    a {
        color: white;
        // Removes underline from nav items.
        text-decoration: none;
        display: block;
        padding: .8rem 0;
        text-align: center;
    }

    // Removes dots from nav list items
    li {
        list-style-type: none;
    }
    // Not currently being used
    li.active {
        // Current page nav select color.
        background-color: $primaryWarmColorDark;
    }
    // Display current page nav button as darker (wayfinding)
    a:hover {
        background-color: rgba(0,0,0,0.2);
    }
    // Only display nav items if they have the open class.
    ul.open {
        display: block;
    }
    ul {
        display: none;
        margin: 0;
        padding: 0;
    }
    button {
        /* Removes the border and background of the button */
        background: none;
        border: none;
    
        color: rgb(255, 255, 255);
        font-size: 2.4rem;
        cursor: pointer;
        padding: 0 30px 0 2vw;
    }
}

#mainSection {
    background-color: $secondaryCoolColor;
    padding: 0 1em 0 1em;
    border-radius: 30px;
    h2 {
        padding-top: 0.4em;
        font-size: 28px;
    }
    margin-bottom: 1.5em;
}

h1, h2 {
    // Remove bold
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 36px;
}

header h2 {
    font-size: 13px;
}

// Portrait Image styles
#portrait > img {
    width: 200px;
    height: auto;
    // necessary for getting it to be centered
    display: block;
    margin: 0.5em auto 0.5em auto;
    // margin-left: auto;
    // margin-right: auto;
}

p {
    font-family: 'Cambo', serif;
    font-size: 24px;
}

.project-card {
    padding: 1em;
    background-color: $secondaryWarmColor;
    margin-bottom: 2em;
    max-width: 332px;
    
    img {
        width: 300px;
        height: auto;
        display: block;
        margin: auto;
    }

    div {
        margin-top: 1em;
    }

    // Site and Code Buttons
    a {
        // border: none;
        background-color: $primaryCoolColor;
        color: white;
        font-size: 36px;
        font-family: 'Cambo', serif;
        padding: 0.2em;
        width: 3em;
        text-align: center;
        text-decoration: none;
    }

    a:hover {
        background-color: $primaryCoolColorDark;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        // text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    ul li{
        list-style-type: none;
        background-color: $secondaryCoolColor;
        // width: 30%;
        text-align: center;
        padding: 0.3em;
        margin-left: 0.2em;
        margin-right: 0.2em;
        margin-bottom: 0.5em;
    }
    
}

.flex-spacing {
    display: flex;
    justify-content: space-evenly;
}