$primaryWarmColor: #FFAC60;
// $primaryWarmColor: #f5ac69;

$primaryWarmColorDark: #946940;

$secondaryWarmColor: #FFDBB1;
// $secondaryWarmColor: #f7cd9e;

$primaryCoolColor: #77CEFF;

$primaryCoolColorDark: #468ab1;

$secondaryCoolColor: #E1F6FF;
// $secondaryCoolColor: #a9d8ee;

$backgroundColor: rgb(255, 255, 255);

$sideBarColor: rgb(119, 119, 119);